<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>WVF</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="/content/css/normalize.css">
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/mycss")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("William Fairminer", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - William V. Fairminer</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="/content/js/libs/require-2.1.1.js" data-main="/content/js/main.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
